<%- include('layout') -%>

<div class="container">
  <br><br><br>
  <% if (isEmpty) { %>
    <div class="alert alert-warning" role="alert" style="background-color: #D2E0FB; color: #416682; border-color: #295f98;">
      Não há pacientes cadastrados no momento.
    </div>
  <% } else { %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>CPF</th>
          <th>Nome</th>
          <th>Idade</th>
          <th>Dia Marcado</th>
          <th>Hora Marcada</th>
        </tr>
      </thead>
      <tbody style="color: rgb(65, 102, 130); font-size: larger;"> 
        <% pacientes.forEach(function(paciente) { %>
          <tr> 
            <td><%= paciente.CPF %></td>
            <td><%= paciente.Nome %></td>
            <td><%= paciente.Idade %></td>
            <td><%= paciente.DiaMarcado %></td>
            <td><%= paciente.HoraMarcada %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
</div>
